.fondo1{
position:absolute;
height:100%;
width:60%;
background:#08298A;
z-index:0; 
right:20%;
top: 0%;

}
.fondo2{
position:absolute;
height:100%;
width:15%;
background:#58D3F7;
top:0%;
z-index:1;
right:80%; 
}
.fondo3{
position:absolute;
height:100%;
width:5%;
background:#0489B1;
top:0%;
z-index:2; 
right:95%;
}
.fondo4{
position:absolute;
height:100%;
width:15%;
background:#58D3F7;
top:0%;
z-index:1;
right:5%; 
}
.fondo5{
position:absolute;
height:100%;
width:5%;
background:#0489B1;
top:0%;
z-index:2; 
right:0%;
}
.titulo
{
position:absolute;
right:46.5%;
color:#FFFFFF;
font-size:240%;
z-index:3;
font-family: 'Orbitron', sans-serif;
}
.titulo:hover
{
position:absolute;
right:46.5%;
color:#58D3F7;
font-size:240%;
z-index:3;
font-family: 'Orbitron', sans-serif;
}
.pantalla{
position:absolute;
height:70%;
width:50%;
background:#81F7BE;
top:20%;
z-index:2; 
right:25%;
border-radius:10%;
opacity: 0.5;

}
.volver{
position:absolute;
height:10%;
width:5%;

top:90%;
z-index:4; 
right:25%;



}