.fondo{
position:absolute;
height:590%;
width:100%;
background:#474949;
z-index:0; 
right:0%;	

top: 0%;
}



.fondo1{
position:absolute;
height:100%;
width:50%;
background:#AFDBDA;
z-index:1; 
right:60%;	
transform: rotate(30deg);
top: 0%;
}
.fondo2{
position:absolute;
height:100%;
width:50%;
background:#506F94;
z-index:1; 
right:30%;	
transform: rotate(30deg);
top: 0%;

}
.fondo3{
position:absolute;
height:100%;
width:50%;
background:#71B0AE;
z-index:1 ; 
right:0%;	
transform: rotate(30deg);
top: 0%;

}
.titulo{
position:absolute;

color: #D3DCDC;
z-index:3 ; 
right:40%;
font-size: 500%;
top: 5%;
font-family: 'Yusei Magic', sans-serif;

}
.caja1{
position:absolute;

color: #363B40;
z-index:3 ; 
right:75%;
font-size: 150%;
top: 20%;
font-family: 'Yusei Magic', sans-serif;
background:#71B0AE;
border-style: solid;
border-radius:10%;
}
.caja1:hover
{
position:absolute;
color:#084B8A;
z-index:4; 
right:75%;
font-size: 150%;
top: 20%;
font-family: 'Yusei Magic', sans-serif;
background:#BDBDBD;
border-style: solid;
border-radius:10%;
display: block;
}
.caja2{
position:absolute;

color: #363B40;
z-index:3 ; 
right:55%;
font-size: 150%;
top: 20%;
font-family: 'Yusei Magic', sans-serif;
background:#AFDBDA;
border-style: solid;
border-radius:10%;
}
.caja2:hover 
{
position:absolute;

color: #151515;
z-index:3 ; 
right:55%;
font-size: 150%;
top: 20%;
font-family: 'Yusei Magic', sans-serif;
background:#BDBDBD;
border-style: solid;
border-radius:10%;
}

.caja4{
position:absolute;

color: #363B40;
z-index:3 ; 
right:39%;
font-size: 150%;
top: 20%;
font-family: 'Yusei Magic', sans-serif;
background:#506F94;
border-style: solid;
border-radius:10%;
}
.caja4:hover {
position:absolute;

color: #AFDBDA;
z-index:3 ; 
right:39%;
font-size: 150%;
top: 20%;
font-family: 'Yusei Magic', sans-serif;
background:#6E6E6E;
border-style: solid;
border-radius:10%;
}
.caja5{
position:absolute;

color: #363B40;
z-index:3 ; 
right:15%;
font-size: 150%;
top: 20%;
font-family: 'Yusei Magic', sans-serif;
background:#506F94;
border-style: solid;
border-radius:10%;
}
.caja5:hover {
position:absolute;

color: #AFDBDA;
z-index:3 ; 
right:15%;
font-size: 150%;
top: 20%;
font-family: 'Yusei Magic', sans-serif;
background:#6E6E6E;
border-style: solid;
border-radius:10%;
}
.texto1{
position:absolute;

color: #363B40;
z-index:3 ; 
right:38%;
font-size: 170%;
top: 110%;

background:#AFDBDA;
border-style: solid;
border-radius: 10% 0% 10% 0%;
width:55%;
height: 56%;
font-family: 'Fredoka One', cursive;
font-stretch:condensed;
text-align: left;
}
.texto1:hover{
position:absolute;

color: #363B40;
z-index:3 ; 
right:38%;
font-size: 170%;
top: 110%;
background:#AFDBDA;
border-style: solid;
border-radius: 0% 10% 0% 10%;
width:55%;
height: 56%;
font-family: 'Kreon', serif;
font-stretch:condensed;
text-align: left;
}
.imagen01{
position:absolute;

color: #363B40;
z-index:3 ; 
right:68%;
font-size: 170%;
top: 150%;

background:#AFDBDA;
border-style: solid;
border-radius: 10% 0% 10% 0%;
width:25%;
height: 26%;
font-family: 'Fredoka One', cursive;
font-stretch:condensed;
text-align: left;
}
.texto2{
position:absolute;

color: #363B40;
z-index:3 ; 
right:38%;
font-size: 130%;
top: 215%;
font-family: 'Fredoka One', cursive;
background:#AFDBDA;
border-style: solid;
border-radius: 10% 0% 10% 0%;
width:55%;
height: 46%;
font-stretch:condensed;
text-align: left;
}
.texto2:hover{
position:absolute;

color: #363B40;
z-index:3 ; 
right:38%;
font-size: 130%;
top: 215%;
font-family: 'Kreon', serif;
background:#AFDBDA;
border-style: solid;
border-radius: 0% 10% 0% 10%;
width:55%;
height:46%;
font-stretch:condensed;
text-align: left;
}
.imagen02{
position:absolute;

color: #363B40;
z-index:3 ; 
right:68%;
font-size: 130%;
top: 255%;
font-family: 'Fredoka One', cursive;
background:#AFDBDA;
border-style: solid;
border-radius: 10% 0% 10% 0%;
width:25%;
height: 26%;
font-stretch:condensed;
text-align: left;
}

.texto4{
position:absolute;

color: #363B40;
z-index:3 ; 
right:38%;
font-size: 160%;
top:325%;
font-family: 'Fredoka One', cursive;
background:#AFDBDA;
border-style: solid;
border-radius: 10% 0% 10% 0%;
width:55%;
height: 46%;
text-align: left;
font-stretch:condensed;
}

.texto6{
position:absolute;

color: #363B40;
z-index:3 ; 
right:8%;
font-size: 160%;
top:325%;
font-family: 'Fredoka One', cursive;
background:#AFDBDA;
border-style: solid;
border-radius: 10% 0% 10% 0%;
width:35%;
height: 46%;
text-align: left;
font-stretch:condensed;
}
.texto4:hover{
position:absolute;
text-align: left;
color: #363B40;
z-index:3 ; 
right:38%;
font-size: 160%;
top: 325%;
font-family: 'Kreon', serif;
background:#AFDBDA;
border-style: solid;
border-radius: 0% 10% 0% 10%;
width:55%;
height: 46%;
font-stretch:condensed;
}
.imagen04{
position:absolute;

color: #363B40;
z-index:3 ; 
right:68%;
font-size: 160%;
top:355%;
font-family: 'Fredoka One', cursive;
background:#AFDBDA;
border-style: solid;
border-radius: 10% 0% 10% 0%;
width:25%;
height: 26%;
text-align: left;
font-stretch:condensed;
}
.imagen05{
position:absolute;

color: #363B40;
z-index:3 ; 
right:18%;
font-size: 160%;
top:355%;
font-family: 'Fredoka One', cursive;
background:#AFDBDA;
border-style: solid;
border-radius: 10% 0% 10% 0%;
width:15%;
height: 26%;
text-align: left;
font-stretch:condensed;
}
.texto5{
position:absolute;
text-align: left;
color: #363B40;
z-index:3 ; 
right:38%;
font-size: 160%;
top: 430%;
font-family: 'Fredoka One', cursive;
background:#AFDBDA;
border-style: solid;
border-radius: 10% 0% 10% 0%;
width:55%;
height: 46%;
font-stretch:condensed;
}
.imagen06{
position:absolute;
text-align: left;
color: #363B40;
z-index:3 ; 
right:68%;
font-size: 150%;
top: 460%;
font-family: 'Fredoka One', cursive;
background:#AFDBDA;
border-style: solid;
border-radius: 10% 0% 10% 0%;
width:25%;
height: 26%;
font-stretch:condensed;
}
.texto5:hover{
position:absolute;
text-align: left;
color: #363B40;
z-index:3 ; 
right:38%;
font-size: 160%;
top: 430%;
font-family: 'Kreon', serif;
background:#AFDBDA;
border-style: solid;
border-radius: 0% 10% 0% 10%;
width:55%;
height: 46%;
font-stretch:condensed;
}
.gif1{
position:absolute;

color: #363B40;
z-index:3 ; 
right:11%;
font-size: 150%;
top: 34%;
font-family: 'Yusei Magic', sans-serif;
background:#AFDBDA;
border-style: solid;
border-radius: 10% 10% 5% 5%;
width:19%;
height: 24%;


}
.gif2{
position:absolute;

color: #363B40;
z-index:3 ; 
right:41%;
font-size: 150%;
top:34%;
font-family: 'Yusei Magic', sans-serif;
background:#AFDBDA;
border-style: solid;
border-radius: 5% 5% 10% 10%;
width:19%;
height: 24%;

}
.gif3{
position:absolute;

color: #363B40;
z-index:3 ; 
right:71%;
font-size: 150%;
top: 34%;
font-family: 'Yusei Magic', sans-serif;
background:#AFDBDA;
border-style: solid;
border-radius: 5% 5% 10% 10%;
width:19%;
height: 24%;

}
.return1{
position:absolute;

color: #363B40;
z-index:3 ; 
right:49%;
font-size: 150%;
top: 140%;
font-family: 'Yusei Magic', sans-serif;


width:4%;
height: 8%;

}

.return2{
position:absolute;

color: #363B40;
z-index:3 ; 
right:49%;
font-size: 150%;
top: 250%;
font-family: 'Yusei Magic', sans-serif;


width:4%;
height: 8%;

}
.return3{
position:absolute;

color: #363B40;
z-index:3 ; 
right:49%;
font-size: 150%;
top: 355%;
font-family: 'Yusei Magic', sans-serif;


width:4%;
height: 8%;

}
.return4{
position:absolute;

color: #363B40;
z-index:3 ; 
right:49%;
font-size: 150%;
top: 460%;
font-family: 'Yusei Magic', sans-serif;


width:4%;
height: 8%;

}

.mar{
position:absolute;

color: #363B40;
z-index:3 ; 
right:41%;
font-size: 150%;
top: 15%;
font-family: 'Yusei Magic', sans-serif;


width:26%;
height: 24%;

}
.marqui{
position:absolute;

color: #AFDBDA;
z-index:3 ; 
right:1%;
font-size:350%;
top: 490%;
font-family: 'Yusei Magic', sans-serif;


width:100%;
height: 100%;

}
.volver{
position:absolute;
height:10%;
width:5%;

top:70%;
z-index:4; 
right:15%;

z-index:4; 

}
